{% extends "base.html" %}
{% block content %}

    {% for post in posts %}
        {{ post.post_name }}<br>
        {{ post.category_name }}<br>
        {{ post.artist_name }}<br>
        {{ post.venue }}<br>
        {{ post.concert_date }}<br>
        {{ post.favourite_song }}<br>
        {{ post.post_description }}<br>
    {% endfor %}

    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <div class="card">
                <img src="..." class="card-img-top" alt="Gig Image">
                <div class="card-body">
                    <h4 class="card-title">Post Title</h4>
                    <p class="card-text">Some example text can go here, this will be a description of the gig experience</p>
                    <a href="#" class="btn btn-primary">View Post</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}