{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col-sm-12 col-lg-8 offset-lg-2 mt-5">
            <form class="card" method="POST" action="{{ url_for('register') }}">
                <div class="card-body">
                    <h1 class="card-title text-center">Register</h1>
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control validate">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control validate">
                    <button type="submit" class="form-control btn btn-lg btn-primary mt-3">Register</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}